<div class="espacio_disco">
    <div class="cont-img">
        <img src="/{img}" />
    </div>
    
    <div class="cont-disco">
        <h1>{title}</h1>
        <h3>{autor}</h3>
    </div>
    <hr/>
    <div class="menu-disco">
        <ul>
            <li><a href="?ruta=disco&accion=viewdisco&idDisco={idDisco}&idAutor={idAutor}">Ver</a></li>
            <li><a href="?ruta=disco&accion=viewedit&idDisco={idDisco}&idAutor={idAutor}&title={title}&autor={autor}">Editar</a></li>
            <li><a href="?ruta=disco&accion=dodelete&idDisco={idDisco}&idAutor={idAutor}" id="elimDisco">Eliminar</a></li>
        </ul>
    </div>
</div>