<div class="container_form">
    <form>
        <input type="hidden" name="ruta" value="usuario" />
        <input type="hidden" name="accion" value="doedit" />
        <input type="hidden" name="loginpk" value="{login}" />
        
        <input type="text" id="log_login" class="log_input" name="login" value="{login}" placeholder="nombre" /><br/>
        <input type="password" id="log_pass" class="log_input" name="password" value="" placeholder="nueva contraseña" /><br/>
            
        <input type="submit" value="Enviar" class="log_submit" />
    </form>
</div>