<div class="container_form">
    <h1 class="titulo_form">Inicia Sesión</h1>
    <form>
        <input type="hidden" name="ruta" value="usuario" />
        <input type="hidden" name="accion" value="dologin" />
        <input type="text" id="log_login" class="log_input" name="login" value="" placeholder="nombre" /><br/>
        <input type="password" id="log_pass" class="log_input" name="password" value="" placeholder="contraseña" /><br/>
            
        <input type="submit" value="Inicia Sesión" class="log_submit" />
    </form>
</div>